
<h1>Login Page</h1>

<% if flash[:message] %>
  <div class="alert">
    <%= flash[:message] %><br><br>
  </div>
  <% flash[:message].clear %>
<% end %>


<%= form_for :user do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <%= f.submit "Log In", {class: "btn btn-default btn-primary"} %>
<% end %>

<div class="return-to-homepage mt-3">
  <%= link_to("Return to Homepage", "/", {class: "text-muted block"}) %>
</div>
