<h1>Login Page</h1>

<%= form_with model: @user, url: '/users/login', method: "get", local: true do |f| %>

    <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
    </p>

    <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
    </p>

    <%= f.submit "Log In" %>
<% end %>

<%= link_to "Sign Up or Log In with Google", "/auth/google_oauth2" %>