<div class="container-fluid vh-100 row text-center">
  <div class="col-2 bg-secondary"></div>
  <div class="col-8">
    <h1>Login Page</h1>

    <% if flash[:message] %>
      <div class="alert">
        <%= flash[:message] %><br><br>
      </div>
      <% flash[:message].clear %>
    <% end %>


    <%= form_for :user do |f| %>
      <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
      </p>

      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </p>

      <%= f.submit "Log In", {class: "btn btn-default btn-primary"} %>
    <% end %>

    <%= link_to("/auth/google_oauth2", {class: "btn btn-outline-dark mt-4 google-sign-in"}) do %>
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      <span>Log In with Google</span> 
    <% end %>
    <div class="return-to-homepage container mt-2">
      <%= link_to("Return to Homepage", "/", {class: "text-muted block"}) %>
    </div>
  </div>
  <div class="col-2 bg-secondary"></div>
</div>
