<h1><%= @user.username %></h1>

<% if flash[:message] %>
<div class="alert">
  <%= flash[:message] %><br><br>
</div>
  <% flash[:message].clear %>
<% end %>

<%= link_to "Campaigns", user_campaigns_path(@user) %> ||
<%= link_to "Characters", user_characters_path(@user) %>

<% if @user.friends %>
<h4>Friends</h3>
  <% @user.friends.each do |friend| %>
    <li>
    <%= link_to friend.username, user_path(friend) %>
    </li>
  <% end %>
<% end %>
