
<h1 class="text-center text-responsive"><%= @showUser.username %></h1>

<% if flash[:message] %>
<div class="alert text-center">
  <%= flash[:message] %><br><br>
</div>
  <% flash[:message].clear %>
<% end %>

<div class="btn-group d-inline">
  <%= link_to(user_campaigns_path(@showUser), {class: "btn", id: "my-campaigns-btn"}) do %>
    <span class="text-white">Campaigns <i class="fas fa-dungeon"></i></span>
  <% end %>

  <%= link_to(user_characters_path(@showUser), {class: "btn", id: "my-characters-btn"}) do %>
    <span class="text-black">Characters <i class="fas fa-hat-wizard"></i></span>
  <% end %>
</div>

<div class="friends m-3">
  <% if @showUser.friends %>
  <h4>Friends</h3>
  <ul>
    <% @showUser.friends.each do |friend| %>
      <li>
      <%= link_to(user_path(friend), class: "btn btn-block bg-secondary text-white mt-2") do %>
        <span><%= friend.username %></span>
      <% end %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>
