<h1><%= @character.name %>, lv <%= @character.level %></h1>
<p><%= @user.username %>'s character</p>

<p>Race: <%= @character.race %></p>
<p>Class: <%= @character.character_class %><p><br>

<%= button_to 'Edit', edit_character_path(@character), method: :get %><br>

<%= button_to 'Delete', character_path(@character), method: :delete, data: {confirm: "Are you sure??"} %>