<h1><%= @character.name %>, lv <%= @character.level %></h1>
<p><%= link_to @creator.username, user_path(@creator) %>'s character</p>

<p>Race: <%= @character.race %></p>
<p>Class: <%= @character.character_class %><p>
<p>Max Hit Points: <%= @character.max_hit_points %></p>
<br>

<% if check %>
    <p>Current Hit Points: <%= @character.current_hit_points %>
    <%= form_for @character do |f| %>
        Take Damage: <%= f.number_field :damage %>
    <% end %><br>
    <%= button_to 'Edit', edit_character_path(@character), method: :get %><br>

    <%= button_to 'Delete', character_path(@character), method: :delete, data: {confirm: "Are you sure??"} %>
<% end %>