<h1><%= @character.name %>, lv <%= @character.level %></h1>

<p><%= link_to @creator.username, user_path(@creator) %>'s character</p>

<p>Race: <%= @character.race %></p>
<p>Class: <%= @character.character_class %><p>
<p>Max Hit Points: <%= @character.max_hit_points %></p>
<p>Current Campaign: <%= @character.campaign.title if @character.campaign %></p><br>

<% if check %>
  <p>Current Hit Points: <%= @character.current_hit_points %>

  <%= form_for @character do |f| %>
    <p><em>Tip: type negative numbers to heal your character.</em></p>
    <%= f.number_field :damage, value: "" %>
    <%= f.submit "Take Damage" %><br><br>
  <% end %>

  <%= form_for @character do |f| %>
    Assign to a Campaign
    <%= f.collection_select(:campaign_id, @creator.play_campaigns, :id, :title, {:include_blank => 'None'}) %>
    <input type="hidden" name="character[old_campaign_id]" value="<%= @character.campaign.id if @character.campaign %>">
    <%= f.submit "Assign to Campaign" %>
  <% end %><br>

    <%= button_to 'Edit', edit_character_path(@character), method: :get %><br>

    <%= button_to 'Delete', character_path(@character), method: :delete, data: {confirm: "Are you sure??"} %>
<% end %>