<%= form_for @campaign do |f| %>
    <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@campaign.errors.count, "error") %> prohibited
        this Campaign from being saved:
      </h2>
      <ul>
        <% @campaign.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    </p>

  <%= f.label :players %><br>
  <%= f.text_field :players, list: "users_autocomplete", value: nil %>
  <datalist id="users_autocomplete" name="player[username]">
    <% player_select.each do |player| %>
      <option value="<%= player[0] %>">
    <% end %>
  </datalist>

    <p><%= f.submit %></p>
<% end %>