<h1 class="text-responsive"><%= @creator.username %>'s Campaigns</h1>

<% if check %>
  <%= link_to(new_user_campaign_path(@user), {method: :get, class: "btn btn-block bg-white text-dark"}) do %>
    <span>Create Campaign <i class="fas fa-dragon"></i></span>
  <% end %>
<% end %>

<h4 class="mt-5">Created Campaigns:</h4>
<ul>
  <% @created_campaigns.each do |campaign| %>
    <li>
      <%= link_to(user_campaign_path(@creator, campaign), {class: "btn btn-block bg-secondary text-white mt-2"}) do %>
        <span><%= campaign.title %></span>
      <% end %>
    </li>
  <% end %>
</ul><br>

<h4>Play Campaigns:</h4>
<ul>
  <% @play_campaigns.each do |campaign| %>
    <li>
    <%= link_to(user_campaign_path(campaign.dungeon_master, campaign), {class: "btn btn-block bg-secondary text-white mt-2"}) do  %>
      <span><%= campaign.title %></span>
    <% end %>
    </li>
  <% end %>
</ul>

<% if !check %>
  <%= link_to "#{@creator.username}'s Homepage", user_path(@creator) %>
<% end %>
