<h1><%= @campaign.title %></h1>

<p>by: <%= link_to @creator.username, user_path(@creator) %></p>

<% if check %>
  <%= button_to "Edit/Add Player", edit_user_campaign_path(@user, @campaign), method: "get" %><br>
  <%= button_to "Delete Campaign", @campaign, method: "delete" %>
<% end %>

<% if @campaign.players.any? %>
<h3>Players</h3>
  <% @campaign.players.each do |player| %>
    <%= link_to player.username, user_path(player) %>
    <%= link_to "remove", user_campaign_path(user_id: @creator.id, id: @campaign.id, remove_player: player.id) if check %>
  <% end %>
<% end %>

<% if @campaign.characters.any? %>
  <h3>Party</h3>

  <ul>
    <% @campaign.characters.each do |character| %>
      <li class="<%= character.status %>">
      <%= link_to character.name, user_character_path(character.player, character) %> 
      {<%= character.status %>} - <%= character.player.username %>
      <%= link_to "remove", user_campaign_path(user_id: @creator.id, id: @campaign.id, remove_character: "#{character.id}") if check %>
      </li>
    <% end %>
  </ul>
<% end %>
<br><br>

<h3>Recent Sessions</h3>

  <% if check %>
    <%= button_to "New Session", new_campaign_dnd_session_path(@campaign), {method: :get} %>
  <% end %>

<ul>
  <% @recent_sessions.each do |session| %>
    <li>
    <%= link_to "#{session.date} at #{session.place}", campaign_dnd_session_path(@campaign, session) %>
    </li>
  <% end %>
</ul>
<br>

<%= link_to "See All Sessions for #{@campaign.title}", campaign_dnd_sessions_path(@campaign) %>
