<%= form_with model: @dnd_session, local: true do |f| %>
  <% if @dnd_session.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@dnd_session.errors.count, "error") %> prohibited
        this DND Session from being saved:
      </h2>
      <ul>
        <% @dnd_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :date %>
  <%= f.date_field :date, value: "#{@dnd_session.date}" %><br><br>

  <%= f.label :start_time %>
  <%= f.time_field :start_time, value: "#{@dnd_session.start_time}" %><br><br>

  <%= f.label :end_time %>
  <%= f.time_field :end_time, value: "#{@dnd_session.end_time}" %><br><br>

  <%= f.label :place %>
  <%= f.text_field :place %><br><br>

  <%= f.label "Notes" %><br>
  <%= f.text_area :dm_notes %><br><br>

  <input type=hidden name="dnd_session[campaign_id]" id="dnd_session_campaign_id" value="<%= @campaign.id %>">

  <%= f.submit %>
<% end %>