<!DOCTYPE html>
<html>
  <head>
    <title>DungeonsNData</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <%= link_to "Home", user_path(current_user) if current_user %>
    <%= link_to "Logout", logout_path, {:method => :delete} if current_user %>
    <%= link_to "My Campaigns", user_campaigns_path(current_user) if current_user %>
    <%= link_to "My Characters", user_characters_path(current_user) if current_user %>
  <% end %>
  
    <%= yield %>
  </body>
</html>
